.App {
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 3vw;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.flex {
  display: flex;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.searchTitle {
  font-size: 2em;
  font-weight: 500;
  padding-right: .5vw;
  padding-left: .5vw;
}

#searchLocationInput {
  font-size: 2em;
  font-weight: 500;
  max-width: 300px;
}

#searchQueryInput {
  font-size: 3em;
  font-weight: 600;
  max-width: 700px;
}

#searchButton {
  font-size: 3em;
  font-weight: 600;
  background-color: #282c34;
  border: 0;
}

.searchForm {
  margin-bottom: 4vh;
}

input[type=text], select {
  padding: 0;
  margin: 0;
  display: inline-block;
  border: none;
  width: 100%;
  background-color: black;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}


.resultItem {
  margin-bottom: 1.5vh;
  display: flex;
  /*align-items: center*/
}

.resultItem .count {
  margin-right: 1vw;
  font-weight: 200;
  font-size: 1em;
  font-style: italic;
  padding-top: 0.8em;
}

.itemHeader {
  display: flex;
}

.itemHeader .title {
  margin-right: 1vw;
  font-weight: 600;
  font-size: 2.5em
}

.resultItem .addressContainer {
  display: flex;
}

.resultItem .distance {
  font-weight: 400;
  font-size: 1em;
}

.resultItem .address {
  font-weight: 200;
  font-size: 1em;
  margin-left: 0.5vw;
}

.resultItem .phone {
  font-weight: 300;
  font-size: 1em;
  margin-left: 0.5vw;
}

.resultItem .detailsContainer {
  font-weight: 400;
  font-size: 0.8em;
  display: flex;
}

.resultItem .ratingsContainer {
  display: flex;
  margin-top: 0.75vh;
}

.detailsContainer .price {
  margin-right: 1vw;
}

.ratingsContainer {
  color: orange;
}

.ratingsContainer .rating {
  font-weight: 700;
  font-size: 1.2em;
  min-width: 3vw;
  margin-right: 1vh;
}

.ratingsContainer .ratingsBar {
  width: 100%;
  height: 0.2vh;
  background-color: orange;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.ratingsContainer .star {
  font-size: 1.2em;
  margin-left: 1vw;
}

.wrap-stack {
  flex-wrap: wrap;
  align-items: center;

}

.expander {
  margin-top: 2vh;
  opacity: 0.5;
}

.preview {
  width: 50%;
  margin-right: 1.5vw;
}

.errorMessage {
  
  color: red;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  font-size: 1em;
  font-weight: 500;
}








